body {
  background-color: #112c47;
}

.App {
  text-align: center;
  background-color: #112c47;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #7ec44d;
}

.App-intro {
  font-size: large;
}

.Item-list {
  list-style: none;
}

.Item-list li {
  border: 1px solid black;
  width: 20%;
  height: 3em;  
  margin: auto;
  text-align: left;
  background-color: #7ec44d;
  padding: 1em 1em 1em 1em;
}
